<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }} | {% endif %}Minsoo Ha</title>
<meta name="description" content="Personal page of Minsoo Ha, undergraduate researcher in machine learning at POSTECH.">
<meta name="author" content="Minsoo Ha">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/images/favicon.png" type="image/png">
<link rel="stylesheet" href="/assets/css/style.css">
