<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="ko">
<head>
    {% include head.html %}
</head>
<body>
    <header>
        <h1>Minsoo's Blog</h1>   
        <a href="/">Home</a>   
    </header>
    <hr>
    <!-- Main -->
    <main>
        {{ content }}
    </main>
    <hr>
    <!-- Footer -->
    {% include footer.html %}
</body>
</html>